<footer class="container font-sm py-6 border-top">
  <div class="d-flex flex-column-reverse align-items-center flex-md-row justify-content-md-between">
    <P class="mr-lg-16">© 2020 ALOHA, Inc. All rights reserved.</P>
    <ul class="list-unstyled d-flex mb-4 mb-md-0">
      <li><a class="mr-6 text-info" href="#">FAQs</a></li>
      <li><a class="mr-6 text-info" href="#">Terms of use</a></li>
      <li><a class="text-info" href="#">Privacy policy</a></li>
    </ul>
    <% if (current==='reservationDetail'|| current==='reservationReceived') { %>
    <% } else {  %> 
      <div class="d-none d-lg-block ml-auto">
        <ul class="list-unstyled d-flex">
          <li class="mr-6">
            <a class="dropdown-toggle text-info" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"><span class="material-icons text-black mr-2">language</span>English</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">繁體中文</a>
              <a class="dropdown-item" href="#">簡體中文</a>
            </div>
          </li>
          <li>
            <a class="dropdown-toggle text-info" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button"><span class="material-icons text-black mr-2">attach_money</span>USD</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">TWD</a>
              <a class="dropdown-item" href="#">CNY</a>
            </div>
          </li>
        </ul> 
      </div>
    <% } %>
  </div>
</footer>