<div class="bg-light sticky-header">
  <div class="container">
    <form class="d-flex py-1 py-md-4 py-xl-6">
      <div class="dropdown w-100 bg-white-md mr-md-4 rounded border-right border-white">
        <button class="btn d-flex px-2 px-lg-4 py-2 justify-content-center
        justify-content-md-start align-items-center w-100"  type="button" id="destinationMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="material-icons d-none d-md-block text-black mr-2 mr-lg-4">place</span>
          <div class="text-left">
            <p class="d-none d-md-block font-xs text-secondary font-weight-bold">DESETINATION</p>
            <p class="font-xs font-sm-md text-nowrap">Bangkok, Thailand</p>
          </div>
        </button>
        <div class="dropdown-menu border-0 w-100 shadow" aria-labelledby="destinationMenuLink">
          <a class="dropdown-item d-flex" href="#">
            <span class="material-icons mr-2">star</span>
            <div class="flex-grow-1">
              <p class="dropdown-item__title">Bangkok</p>
              <p class="font-xs text-info">Thailand</p>
            </div>
          </a>
          <a class="dropdown-item d-flex" href="#">
            <span class="material-icons mr-2">star</span>
            <div class="flex-grow-1">
              <p class="dropdown-item__title">Osaka</p>
              <p class="font-xs text-info">Japan</p>
            </div>
          </a>
          <a class="dropdown-item d-flex" href="#">
            <span class="material-icons mr-2">star</span>
            <div class="flex-grow-1">
              <p class="dropdown-item__title">Roma</p>
              <p class="font-xs text-info">Italy</p>
            </div>
          </a>
          <a class="dropdown-item d-flex" href="#">
            <span class="material-icons mr-2">star</span>
            <div class="flex-grow-1">
              <p class="dropdown-item__title">Paris</p>
              <p class="font-xs text-info">London</p>
            </div>
          </a>
          <a class="dropdown-item d-flex" href="#">
            <span class="material-icons mr-2">star</span>
            <div class="flex-grow-1">
              <p class="dropdown-item__title">Reykjavík</p>
              <p class="font-xs text-info">Iceland</p>
            </div>
          </a>
        </div>
      </div>
      <div class="w-100 bg-white-md mr-md-4 rounded border-right border-white">
        <button class="btn d-flex px-2 px-lg-4 py-2 justify-content-center
        justify-content-md-start align-items-center w-100" id="daterange">
          <span class="material-icons d-none d-md-block text-black mr-2 mr-lg-4">date_range</span>
          <div class="text-left">
            <p class="d-none d-md-block d-lg-none font-xs text-secondary font-weight-bold">CHECK-IN / OUT</p>
            <p class="d-lg-none font-xs font-sm-md text-nowrap">17 June - 19 June</p>
          </div>
          <div class="d-none d-lg-flex row no-gutters w-100">
            <div class="col border-right text-left mr-4">
              <p class="font-xs text-secondary font-weight-bold">CHECK-IN</p>
              <p class="font-xs font-sm-md text-nowrap">17 June</p>
            </div>
            <div class="col text-left">
              <p class="font-xs text-secondary font-weight-bold">CHECK-OUT</p>
              <p class="font-xs font-sm-md text-nowrap">19 June</p>
            </div>
          </div>
        </button>
      </div>
      <div class="dropdown w-100 bg-white-md mr-md-4 rounded">
        <button class="btn d-flex px-2 px-lg-4 py-2 justify-content-center
        justify-content-md-start align-items-center w-100"  type="button" id="guestsMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="material-icons d-none d-md-block text-black mr-2 mr-lg-4">person</span>
          <div class="text-left">
            <p class="d-none d-md-block font-xs text-secondary font-weight-bold">GUESTS</p>
            <p class="font-xs font-sm-md text-nowrap">2 adults・1 room</p>
          </div>
        </button>
        <ul class="dropdown-menu border-0 w-100 shadow" aria-labelledby="guestsMenuLink">
          <li class="dropdown-item d-flex justify-content-between align-items-center">
            <p class="dropdown-item__title flex-grow-1">Adult</p>
            <div class="d-flex align-items-center">
              <button class="btn btn-sm text-black" href="#">
                <span class="material-icons">remove</span></button>
              <p class="px-2 text-muted">2</p>
              <button class="btn btn-sm text-black" href="#">
                <span class="material-icons">add</span></button>
            </div>
          </li>
          <li class="dropdown-item d-flex justify-content-between align-items-md-center">
            <p class="dropdown-item__title flex-grow-1">Child</p>
            <div class="d-flex align-items-center">
              <button class="btn btn-sm text-black" href="#">
                <span class="material-icons">remove</span></button>
              <p class="px-2 text-muted">0</p>
              <button class="btn btn-sm text-black" href="#">
                <span class="material-icons">add</span></button>
            </div>
          </li>
          <li class="dropdown-item d-flex justify-content-between align-items-center">
            <p class="dropdown-item__title flex-grow-1">Room</p>
            <div class="d-flex align-items-center">
              <button class="btn btn-sm text-black" href="#">
                <span class="material-icons">remove</span></button>
              <p class="px-2 text-muted">1</p>
              <button class="btn btn-sm text-black" href="#">
                <span class="material-icons">add</span></button>
            </div>
          </li>
        </ul>
      </div>
      <a href="searchResult.html" class="btn btn-primary font-weight-bold w-auto d-none d-md-block">SEARCH</a>
    </form>
  </div>
</div>