<% if(current==='index') { %>
<section class="bg-light py-6 py-md-23">
  <div class="container">
    <div class="row justify-content-center">
      <h2 class="h4 h1-md mb-4 mb-md-6">Subscribe for Exclusive Offer</h2>
    </div>
    <div class="row justify-content-center">
      <div class="input-group col-sm-10 col-lg-6">
        <input type="text" class="form-control border-0" placeholder="Your email address" aria-describedby="subscribe">
        <div class="input-group-append">
          <input type="submit" class="btn btn-primary font-weight-bold px-4 px-md-8" value="SUBSCRIBE">
        </div>
      </div>
    </div>
  </div>
</section>
<% } else { %>
  <section class="bg-light py-6">
    <div class="container">
      <div class="row align-items-center ">
        <h2 class="h4 h2-lg mb-4 mb-md-0 col-md-4 col-xl-5">Subscribe for Exclusive Offer</h2>
        <div class="col-md-8 col-xl-7">
          <div class="input-group">
            <input type="text" class="form-control border-0" placeholder="Your email address" aria-describedby="subscribe">
            <div class="input-group-append">
              <input type="submit" class="btn btn-primary font-weight-bold px-4 px-md-8" value="SUBSCRIBE">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<% } %>