.logo {
  background: url('../images/logo-aloha.svg') no-repeat;
  background-size: cover;
  display: block;
  height: 24px;
  width: 96px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}