<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  
  <header class="container bg-transparent">
    <div class="row py-4 py-md-6">
      <div class="col-12 d-flex justify-content-between align-items-center">
        <h1>
          <a class="logo" href="./index.html">ALOHA</a></h1>
        <a class="text-black d-md-none" href="./index.html">
          <span class="material-icons">close</span></a>
      </div>
    </div>
  </header>
  
  <%- contents %>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>
</html>