ol,
ul,
dl {
  margin-bottom: 0;
}

dt {
  margin-bottom: 1rem;
  line-height: 1.2;
}

a,
button {
  transition:all 0.5s;
}

hr {
  @include media-breakpoint-up(md) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

// icon
.material-icons {
  vertical-align: bottom;
}