.img-cover {
  object-fit: cover;
  object-position: center center;
}
.bg-cover {
  background-size: cover;
  background-position: center center;
}
.z-index-2 {
  z-index: 2;
}
.bg-white-md {
  @include media-breakpoint-up(md) {
    background-color:  $white !important;
  }
}
.bg-transparent-lg {
  @include media-breakpoint-up(lg) {
    background-color: $transparent !important;
  }
}
.botoom-6 {
  bottom: 1.5rem;
}
.border-2 {
  border-width: 2px!important;
}
.border-0-md {
  @include media-breakpoint-up(md) {
    border-width: 0px !important;
  }
}
.rounded-lg-bottom {
  border-bottom-right-radius: $border-radius-lg !important;
  border-bottom-left-radius: $border-radius-lg !important;
}
.hover--bgLight {
  &:hover {
    background: $light;
  }
}
.w-xl-50 {
  @include media-breakpoint-up(xl) {
    width: 50%;
  }
}
.w-xl-100 {
  @include media-breakpoint-up(xl) {
    width: 100%;
  }
}