.card {
  :hover {
    text-decoration: none;
  }
  &.card-overlay {
    height: 78px;
  }
}
.card-img-overlay {
  padding: 1rem 1.5rem;
  color: #ffffff98;
  background: linear-gradient(270deg, #00000000, #000000);
}
.card-img {
  height: 150px;
  border-radius: 0px;
  @include media-breakpoint-up(md) {
    border-radius: .5rem 0 0 .5rem;
  }
  @include media-breakpoint-up(lg) {
    height: 175px;
  }
}
.card + .card {
  border-top: 4px solid #f1f0f8;
  @include media-breakpoint-up(md) {
    border-top-width: 2px;
  }
}